<div class="main" style="margin-top: 20px;">
    <div class="secundar">IAIBU</div>
    <div class="trei">Aplicatie web pentru alegerea destinatiilor de vacanta</div>
    <div class="flex-container">
        <div>Veaceslav Popov</div>
        <div>Ungureanu Andrei</div>
        <div>Bacalu Mihai-Cristian</div>
    </div>
    <div id="view">
    </div>
    <div id="view">
        <div class="cub2">
            <div style="transform: translateZ(-47.5px) rotateY( 0deg); background-color: #ddd;"></div>
            <div style="transform: translateZ( 47.5px) rotateY( 0deg); background-color: #ddd;"></div>
            <div style="transform: translateX(-47.5px) rotateY(90deg); background-color: #bbb;"></div>
            <div style="transform: translateX( 47.5px) rotateY(90deg); background-color: #bbb;"></div>
            <div style="transform: translateY(-47.5px) rotateX(90deg); background-color: #fff;"></div>
        </div>
    </div>
    <div id="view">
        <div class="cub3">
            <div style="transform: translateZ(-47.5px) rotateY( 0deg); background-color: #ddd;"></div>
            <div style="transform: translateZ( 47.5px) rotateY( 0deg); background-color: #ddd;"></div>
            <div style="transform: translateX(-47.5px) rotateY(90deg); background-color: #bbb;"></div>
            <div style="transform: translateX( 47.5px) rotateY(90deg); background-color: #bbb;"></div>
            <div style="transform: translateY(-47.5px) rotateX(90deg); background-color: #fff;"></div>
        </div>
    </div>
</div>